Flask==2.3.2
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.2
Flask-WTF==1.1.1
Werkzeug==2.3.6
SQLAlchemy==2.0.19
bcrypt==4.0.1
python-dotenv==1.0.0
reportlab==4.0.4
PyPDF2==3.0.1
pillow==12.1.0
openpyxl==3.1.2
pandas==3.0.3
requests==2.31.0
click==8.1.7
colorama==0.4.6
PyInstaller==6.1.0
Pywin32==305
pyinstaller-hooks-contrib==2023.8
